nome = "Samantha"
sobrenome = 'Lobo'
idade = 30
ano_de_nascimento = 1993
maior_de_idade = ( bool(idade >= 18))
altura_metros = (float(1.57))


print('Nome:' , nome)
print('Sobranome:', sobrenome)
print('idade:', idade)
print('Ano de nascimento:', maior_de_idade)
print('É maior?', maior_de_idade)
print('Altura em metros:', altura_metros)

